
  body{
  background-image:url("https://images.wallpaperscraft.com/image/wood_background_texture_36573_1280x720.jpg");
  background-size:cover;

  }
  .whole-page{


     background-image:url("https://images.wallpaperscraft.com/image/wood_background_texture_36573_1280x720.jpg");
    background-size:cover;

  }