{{#partial "content"}}
    <div class="whole-page text-center">
        <div class="success-page">
            <img src="https://media1.giphy.com/media/3o6ozuHcxTtVWJJn32/200w.webp?cid=790b76119cea66b1037536befc0bd06296c457b67edf95e4&rid=200w.webp" alt="thanks" height="400" width="400">

            <h3 class="success">The News has been recorded</h3><br>

            <a href="/news/details"><button class="btn btn-outline-light">View Details</button></a>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}